{%  extends 'user_registration/registration_base.html' %}
{% load static %}
{% block content %}
<div class="enter_otp">
    <h3 class="mb20">Enter Mobile Number</h3>
    <form action="" id="id_ajax_form">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group otp-input">
                <span class="input-group-addon b0">
                <img src="{% static 'img/locked.png' %}" width="20px">
                </span>
                <input class="form-control common-input b0 " placeholder="Enter Mobile"
                    name="mobile" type="text" id="id_mobile_phone" autofocus>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-main" id="id_otp_submit">
            Send Otp
            </button>
        </div>
        <div class="otp_error"></div>
    </form>
</div>
{% endblock content %}
{% block js %}
    <script>
    $('#id_ajax_form').on('submit', function (e) {
        e.preventDefault();
        var mobile = $('#id_mobile_phone').val();
        $.ajax({
            type: 'POST',
            url: '{% url 'reset_password' %}',
            data: {
                'mobile': mobile, csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                if (!data.status) {
                    $('.otp_error').text(data.message);
                }
                else {
                     window.location.href = data.url;


                }

            }
        });

    });

    </script>
{% endblock js %}