
@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'LCALLIG';
  src: url('./font/LCALLIG/LCALLIG.eot');
  src: local('LCALLIG'), url('./font/LCALLIG/LCALLIG.woff') format('woff'), url('./font/LCALLIG/LCALLIG.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_7705">Text with this font applied</p> */
.lucida-font {
  font-family: 'LCALLIG' !important;
}

@font-face {
    /* There can be only one font-family in a font-face declaration. Multiple will break the font-face. */
    /* Test on Chrome in Linux to see the result of the broken font-face declaration (fonts will be serif). */
    /* Also, for some reason, IE 11 does not use this custom font. See this by changing the body font to just 'segoeui'. */
    /* Also, this font-family cannot be called "Segoe UI", as that causes issues on IE 11/Windows 8. */
    font-family:'Helvetica-Bold';
    src: url('font/Helvetica-Bold.eot'), /* IE9 Compat Modes */
        url('font/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), /* IE7-IE8 */
        url('font/Helvetica-Bold.woff') format('woff'), /* Modern Browsers */
        url('font/Helvetica-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('font/Helvetica-Bold.otf') format('opentype'), /* modern font formats */
        url('font/Helvetica-Bold.svg') format('svg'); /* Legacy iOS */}

  @font-face {
    /* There can be only one font-family in a font-face declaration. Multiple will break the font-face. */
    /* Test on Chrome in Linux to see the result of the broken font-face declaration (fonts will be serif). */
    /* Also, for some reason, IE 11 does not use this custom font. See this by changing the body font to just 'segoeui'. */
    /* Also, this font-family cannot be called "Segoe UI", as that causes issues on IE 11/Windows 8. */
    font-family:'Helvetica-Normal';
    src: url('font/Helvetica-Normal.eot'), /* IE9 Compat Modes */
        url('font/Helvetica-Normal.eot?#iefix') format('embedded-opentype'), /* IE7-IE8 */
        url('font/Helvetica-Normal.woff') format('woff'), /* Modern Browsers */
        url('font/Helvetica-Normal.ttf') format('truetype'), /* Safari, Android, iOS */
        url('font/Helvetica-Normal.otf') format('opentype'), /* modern font formats */
        url('font/Helvetica-Normal.svg') format('svg'); /* Legacy iOS */}


.txt-shadow{
  text-shadow:4px 4px 24px rgba(0, 0, 0, 0.75)
}

.stnd-box-shadow{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
 table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}


.wrap-nuts{
  background: url('/static/images/bg-pink-dark.jpg');
  min-height: 100vh;
  padding-left: 232px;
  padding-right: 60px;
}
.logo-wrap img{
  max-width: 200px;
  display: inline-block;
}

.img-inline{
  display: inline-block;
}

.logo-wrap{
  position: absolute;
  left:20px;
  top:20px;
  text-align: center;
}

.text-white-col{
  color:#fff;
  font-size: 30px;
}
.wrap-head{
  background: url('/static/images/main-content-bg.png');
  background-size: cover;
}
.count-down{
  font-size: 40px;
}

/**
 * Main module
 */


.main-example {
  margin: 0 auto;
  width: 355px;
}
.main-example .countdown-container {
  height: 130px;
}
.main-example .time {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  height: 95px;
  width: 65px;

  -webkit-perspective: 479px;
  -moz-perspective: 479px;
  -ms-perspective: 479px;
  -o-perspective: 479px;
  perspective: 479px;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.main-example .count {
  background: #202020;
  color: #f8f8f8;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 2.4em;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100%;

  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-transform-style: flat;
  -moz-transform-style: flat;
  -ms-transform-style: flat;
  -o-transform-style: flat;
  transform-style: flat;
}
.main-example .count.top {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 5px 5px 0 0;
  height: 50%;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.main-example .count.bottom {
  background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
  background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0 0 5px 5px;
  line-height: 0;
  height: 50%;
  top: 50%;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.main-example .count.next {
}
.main-example .label {
  font-size: normal;
  margin-top: 5px;
  display: block;
  position: absolute;
  top: 95px;
  width: 100%;
}
/* Animation start */
.main-example .count.curr.top {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  z-index: 3;
}
.main-example .count.next.bottom {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  z-index: 2;
}
/* Animation end */
.main-example .flip .count.curr.top {
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;

  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.main-example .flip .count.next.bottom {
  -webkit-transition: all 250ms ease-in-out 250ms;
  -moz-transition: all 250ms ease-in-out 250ms;
  -ms-transition: all 250ms ease-in-out 250ms;
  -o-transition: all 250ms ease-in-out 250ms;
  transition: all 250ms ease-in-out 250ms;

  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.countdown-container{
  font-size: 19px;
  font-weight: 800;
}
.countdown-container .time:not(:last-child){
  box-shadow: none;
  border:0px;
}
.countdown-container .time:not(:last-child) span:not(:last-child){
  border:0px;
}

.countdown-container .time:not(:last-child) span:not(:nth-child(2)){
  display: none;
}
.countdown-container .time:not(:last-child) span:nth-child(2){
  display: block;
  height: 100%;
}
.countdown-container .time:not(:last-child) span:not(:last-child){
  background: rgba(255, 255, 255, 0);
  box-shadow: none;
}


/* Last child styling */
.countdown-container .time:last-child span:not(:last-child){
  background: rgba(255, 255, 255, 0.5);
}


.countdown-container .time span.label{
  display: block !important;
  font-size: 18px;
  text-shadow:4px 4px 24px rgba(0, 0, 0, 0.75);
}
.btn-reg{
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background: #0e75d8;
  margin-top: 20px;
  margin-bottom: 40px;
  min-width: 250px;
}

@media screen and (max-width: 48em) {
   table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}
  .main-example {
    width: 100%;
  }
  .main-example .countdown-container {
    height: 100px;
  }
  .main-example .time {
      height: 70px;
      width: 48px;
  }
  .main-example .count {
    font-size: 1.5em;
    line-height: 70px;
  }
  .main-example .label {
    font-size: 0.8em;
    top: 72px;
  }
}


/* Main Module Section Ends here */


/* REGISTER PAGE START */
/* ================= */

.wrap-nuts.register{
  background: url('/static/images/bg-pink-dark-blur.jpg');
  color:#fff;
}

.nuts-sub{
  background: #00baff;
  border:0px;
  border-radius: 0px;
  color:#fff;
  font-weight: bold;
  min-width: 250px;
  padding: 10px 30px;
}

.form-nuts label.control-label{
  text-align: left;
}
.form-nuts label{
  cursor: pointer;
}

.form-nuts .payment-mode{
  display: none;
}

.wrap-form-submit{
  background: rgba(0, 0, 0, 0.51);
  padding: 20px;
}

span.radio-change{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('/static/images/radio-click.png');
  background-size:auto 100%;
  vertical-align: middle;
}

.payment-mode:checked + span.radio-change{
  background-position: -18px 0px;
}

.form-nuts .form-control{
      background: rgba(255,255,255,0.8);
    border-radius: 0px;
    height: 44px;
}

.wrap-nuts.register{
  padding-top: 50px;
  padding-bottom: 50px;
}
/* END============ */

/* Login Form */ /* START  */

.wrap-form-submit.login{
  max-width: 600px;
  margin: auto;
  // clear: both;
  float: none;
}

/* Login Form */ /* END  */

/* Checking Responsiveness */ /* START  */

@media (max-width:1199px){
   table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}
  .logo-wrap img{
    max-width: 150px;
  }
  .wrap-nuts{
    padding-left: 170px;
    padding-right: 170px;
  }
}

@media (max-width:991px){
   table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}
  .logo-wrap img{
    max-width: 100px;
  }
  .wrap-nuts{
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media (max-width:767px){
   table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}
  .logo-wrap img{
    max-width: 100px;
  }
  .wrap-nuts, .wrap-nuts.register{
    padding-top: 120px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo-wrap{
    position: absolute;
    left:50%;
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    top:10px;
    text-align: center;

  }

}
.club-image {
  position: absolute;
  right: 10px;
  bottom: 10px;
  float: right;
  width: 20%;
}

.wrap-nuts{
  position: relative;
}

/* Checking Responsiveness */ /* END  */

/* Overlay Menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(74, 35, 90);
    background-color: rgba(74, 35, 90, 0.97);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:  #d7bde2;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
   table.dataTable tr.odd {
    background-color: transparent !important;
}
 table.dataTable tr.even {
    background-color: transparent !important;
}
}
.main_div
{
  margin-top: 150px;
}
.table_block
{
  margin-bottom: 20px;
}
.margin_disable
{
  padding-right: 0px;
  padding-left: 0px;
}
.table_main
{
  color: #fff;
  border: 1px solid #bc78d2 !important;
  font-size: 16px;
}
.table_tr
{
  font-size: 14px;
}
/* table custom styling starts here*/
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  /*background: #eee;*/
}
th {
  background: rgba(142, 105, 132, 0.78);
  color: #020101;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
/*from body*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: "Edit"; }
  td:nth-of-type(3):before { content: "Name"; }
  td:nth-of-type(4):before { content: "Phone number"; }
  td:nth-of-type(5):before { content: "Registration code"; }
  td:nth-of-type(6):before { content: "Table"; }
  td:nth-of-type(7):before { content: "Email"; }
  td:nth-of-type(8):before { content: "Paid Amount"; }
  td:nth-of-type(9):before { content: "Status"; }
  td:nth-of-type(10):before { content: "Date "; }
  td:nth-of-type(11):before { content: "Coupon"; }
  td:nth-of-type(12):before { content: "Hotel"; }
  td:nth-of-type(13):before { content: "Order"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    padding: 0;
    margin: 0;
    /*width: 320px;*/
  }
.drop_down_main
{
  margin-bottom: 15px;
}
  }
  .table_div_main
  {
    color: #fff;
    font-size: 14px;
  }
  .table_diivider_mobile
	{
		margin-top: 20px;
	}
  .btn_sort
  {
    background: #2d0834;
    border-color: #fff  ;
  }
  .form_serch
  {
    background: #2d0834;
  }
  .table_list_main
  {
    line-height: 35px;
  }
/*table custom styling ends here*/
