<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>


	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body }
		a { color:#007bc5; text-decoration:underline }
		h2 a, .h2 a { color:#1e2735; text-decoration:none }
		.footer a { color:#99a7b5; text-decoration:underline }

		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important }
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body">


			<!-- Content -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center">


						<table width="785" height="275px;" border="0" cellspacing="0" cellpadding="0" style="background-image:url('http://letsgonuts2018.com/static/images/lets_go_bg_coupon.png');">

							<tr>
								<td valign="top" width="250" align="left">
									<table border="0" cellspacing="0" cellpadding="1">
									<tr>
										<td class="img" style="font-size:0pt; line-height:0pt; text-align:left">
											{% if request.user.is_authenticated %}
											<a href="/users/" title="user list" >
											<img src="http://letsgonuts2018.com/static/images/mail/featured_img.png" alt="" border="0" width="300" height="250" />
											</a>
											{% else %}
											<img src="https://image.ibb.co/gAYeda/featured_img.png" alt="" border="0" width="300" height="250" />
											{% endif %}
										</td>
										</tr>
									</table>
								</td>
								<td valign="top"  class="featured" style="color:#7e8c95; font-family:Tahoma; font-size:12px; line-height:17px; text-align:left">
									<table id="bodyTable" style="width: 87%;margin-top: 7px;padding-left: -23px;font-size: 14px;line-height: auto;" align="center"   border="0" cellpadding="0" cellspacing="0"  height="100%">
									    <tbody>
									        <tr>
									            <td valign="top" class="columnContainer">
									                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#fff">
									                  <tbody class="table_main_tbody">
																			<tr>
									                      <td class="table_main_tbody_td"></td>
									                      <td >&nbsp;</td>
																				<td >&nbsp;</td>
									                      <td class="td_right"></td>
									                    </tr>
									                    <tr>
									                      <td class="table_main_tbody_td">Name</td>
									                      <td>:</td>
									                      <td class="td_right">{{event_register.event_user.first_name }} {{event_register.event_user.last_name }}</td>
									                    </tr>
														<tr>
															<td class="table_main_tbody_td"> Registration Type</td>
															<td>:</td>
															<td class="td_right">{{event_register.event_status}}</td>
														</tr>
									                    <tr>
									                      <td class="table_main_tbody_td">Table</td>
									                      <td>:</td>
									                      <td class="td_right">{{event_register.table.table_name}}</td>
									                    </tr>
														<tr>
															<td class="table_main_tbody_td">Amount Paid</td>
															<td></td>
															<td align="left" class="table_td_second">
															{% for dat in  payment_details %}

						                                    :&nbsp; {{ dat.amount }}/-&nbsp;&nbsp;&nbsp;{{ dat.created_date }} <br>

						                                    {% empty %}
						                                        {{ event_register.amount_paid }}
						                                    {% endfor %}
						                                    </td>
														</tr>
														<!--<tr>-->
															<!--<td class="table_main_tbody_td"></td>-->
															<!--<td>:</td>-->
															<!--<td class="td_right">{{event_register.amount_paid}}/-&nbsp;&nbsp;&nbsp;{{event_register.created_date}}</td>-->
														<!--</tr>-->
														<!-- <tr>
															<td class="table_main_tbody_td">Payment Mode</td>
															<td>:</td>
															<td class="td_right">{{event_register.payment}}</td>
														</tr> -->

														{% if hotel %}
						                                    <tr>
						                                      <td class="table_main_tbody_td">Hotel Details</td>
						                                      <td>:</td>
						                                      <td class="td_right">
						                                        {{ hotel }}
						                                      </td>
						                                    </tr>
						                                {% endif %}
									                    <tr>
									                      <td class="table_main_tbody_td">Email Address</td>
									                      <td>:</td>
									                      <td class="td_right"><a style="text-decoration:none !important; text-decoration:none;outline:none;color:#fff;display:inline;">{{event_register.event_user.email}}</a></td>
									                    </tr>
									                    <tr>
									                      <td class="table_main_tbody_td">Phone Number</td>
									                      <td>:</td>
									                      <td class="td_right">{{event_register.event_user.mobile}}</td>
									                    </tr>
									                  </tbody>
									                    <!-- <hr class="dotted_line"> -->

									                </table>
                                                    <table>

									                      <tr style=" height: 62px;">
									                          <td align="left" class="sorting_element reg_dttails_td1" style="color: #fff" >
									                              Registration Number:<span class="reg_code_number">&nbsp;&nbsp;{{event_register.qrcode}}</span>
									                          </td>
									                      </tr>

                                                    </table>
									            </td>
									        </tr>
									    </tbody>
									</table>
									</table>

								</td>

							</tr>
			</table>
			<!-- END Content -->
			<!-- Bottom Content -->
<!--
			<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
				<tr>
					<td align="center"  style="padding-left: 6px;">
						<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><img src="https://image.ibb.co/nmW7SQ/content_bottom.jpg" alt="" border="0" width="800" height="40" /></div>
						<div style="font-size:0pt; line-height:0pt; height:30px"><img src="https://image.ibb.co/f3xE7Q/empty.gif" width="1" height="30" style="height:30px" alt="" /></div>

					</td>
				</tr>
			</table>
-->
			<!-- END Bottom Content -->
			<!-- Footer -->			<!-- END Footer -->


</body>
</html>
