{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<style>

    .coupon-re tbody td {
        padding: 3px !important;
        font-size: 13px !important;
    }

    body {
        background: #cacaca;
    }

    .mt30 {
        margin-top: 30px;
    }
</style>

<div class="col-sm-10 col-sm-offset-1">

    <div class="coupon-re mt30">

        <div class="row m0">
            <div class="col-sm-8" style="padding:0px;">
                <div style="    background: url(/static/img/coupon-txt-bg.png) white;
                                                border-radius: 35px;
                                                margin-bottom: 3em;
                                                box-shadow: 0px 0px 8px -1px;
                                                overflow: hidden;     height: 420px;">
                    <div class="row m0">
                        <div class="col-sm-4">
                            <a href="{% url 'list_users' %}"><img src="{% static 'img/coupon-headleft.png' %}"
                                                                  width="100%" style=" position: absolute;
                                                            height: fit-content;"></a>
                        </div>
                        <div class="col-sm-8">
                            <img src="{% static 'img/coupon-head-txt.png' %}" style=" margin-top: 2em;
                                                            width: 60%; margin-bottom: 10px;">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Name</b> <span
                                            class="pull-right">:</span></td>

                                    <td style="border: 0px;font-size: 16px;">{{ event_register.event_user.first_name }} {{ event_register.event_user.last_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;;font-size: 16px;"><b>Table</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px;font-size: 16px;">{{ event_register.table.table_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Email</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px;font-size: 16px;">{{ event_register.event_user.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;
                                font-size: 16px;"><b>Phone</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px;
                                font-size: 16px;">{{ event_register.event_user.mobile }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Type</b> <span
                                            class="pull-right">:</span></td>

                                    <td style="border: 0px;font-size: 16px;">{{ event_register.get_event_status_display }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Total Amount Paid</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px;font-size: 16px;">{{event_register.amount_paid|add:event_register.contributed_amount}} /- @{{event_register.created_date|date:"D d M Y" }}
                                    </td>
                                </tr>
                                {% if event_register.due_amount %}
                                    <tr>
                                        <td style="border: 0px;font-size: 16px;"><b>Due Amount</b> <span
                                                class="pull-right">:</span></td>
                                        <td style="border: 0px;font-size: 16px;"> {{ event_register.due_amount }}/-

                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Hotel</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px; font-size: 16px;">
                                        {% if event_register.hotel_user %}
                                            {{ event_register.hotel_user.hotel.name }},
                                            Rs {{ event_register.hotel_user.tottal_rent }}/-,
                                            {{ event_register.hotel_user.room_type.room_type }},
                                            <b>{{ event_register.hotel_user.checkin_date|date:"D d M" }}
                                                to {{ event_register.hotel_user.checkout_date|date:"D d M Y" }}</b>
                                        {% else %}
                                            No Hotel Booked
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if event_register.hotel_due %}
                                <tr>
                                    <td style="border: 0px;font-size: 16px;"><b>Hotel Due</b> <span
                                            class="pull-right">:</span></td>
                                    <td style="border: 0px;font-size: 16px;">Rs {{ event_register.hotel_due }}/-

                                    </td>
                                </tr>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="    padding: 0px;
                                            background: #292929;
                                            border-radius: 35px;
                                            box-shadow: 0px 0px 8px -1px;
                                            padding-left: 20px;
                                            padding-top: 1.5em;     height: 420px; overflow: hidden;">
                <img src="{% static 'img/coupon-right-logo.png' %}" style="margin-bottom:10px;">
                <h3 style="    font-size: 30px;
                                                font-weight: 100;
                                                color: #fff; margin-top: 10px;">August 03, 2018 <br>
                    August 05, 2018
                </h3>
                <div class="" style="     margin-bottom: 15px;
                                                margin-right: 20px;
                                                background: #ffffff;
                                                color: black;
                                                border-radius: 34px;
                                                padding: 6px 15px;
                                                font-size: 16px;
                                                margin-top: 10px;     display: inline-block;">Reg Number
                    :{{ event_register.qrcode }}
                </div>
{#                <div>#}
{#                    <img src="https://chart.googleapis.com/chart?chs=100x100&amp;cht=qr&amp;chl={{ event_register.encoded_id }}&amp;chld=L|1&amp;choe=UTF-8"#}
{#                         style="margin: 10px;#}
{#                                             margin-bottom: 1em; width: 100px;">#}
{#                </div>#}
                <div style="width: 90px;height: 90px;background: #fff; position: absolute;top: 55px;right: -44px;border-radius: 100%;"></div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>