<!DOCTYPE html>
<html lang="en">
<head>

<body>

<table>
    <tr align="left" style="text-align: center">
        <td align="left">Hello,</td>
    </tr>
    <tr align="center" style="text-align: center">
        <td align="center">Please find your coupon here.</td>
    </tr>
</table>

<img src="http://letsgonuts2018.com/api/coupon-success/{{ event_register.id }}/"
     style="width:65%; display: block;margin-left: auto;margin-right: auto;">


<table>
    <tr>
        <td align="center">If coupon not viewing please <a
                href="http://letsgonuts2018.com/invoice/{{ event_register.encoded_id }}">click here</a></td>
    </tr>
    <tr align="left" style="text-align: center">
        <td align="left">Thanks,</td>
    </tr>
    <tr align="left" style="text-align: center">
        <td align="left"><b>QRT 85 Registration Team</b></td>
    </tr>
</table>
</body>
</html>