<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta content="telephone=no" name="format-detection" />
	<title>Email Template</title>


	<style type="text/css" media="screen">
		/* Linked Styles */
		body { padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body }
		a { color:#007bc5; text-decoration:underline }
		h2 a, .h2 a { color:#1e2735; text-decoration:none }
		.footer a { color:#99a7b5; text-decoration:underline }

		/* Campaign Monitor wraps the text in editor in paragraphs. In order to preserve design spacing we remove the padding/margin */
		p { padding:0 !important; margin:0 !important }

		/*remove download icon from image*/
		.a5q {display: none !important;}
	</style>
</head>
<body class="body" style="padding:0 !important; margin:0 !important; display:block !important; -webkit-text-size-adjust:none; background:.background-body">

        <table>
            <tr align="left" style="text-align: center" >
                <td align="left">Hello,</td>
            </tr>
                <tr align="center" style="text-align: center">
                <td align="center">Please find your coupon here.</td>
                <td align="center">If coupon not viewing please <a href="http://letsgonuts2018.com/invoice/{{event_register.id}}">click here</a></td>
            </tr>
        </table>
			<!-- Content -->
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td align="center">
					

						<!-- <table width="785" height="250px;" border="0" cellspacing="0" cellpadding="0" style="background-image:url('http://image.ibb.co/gdUS4F/lets_go_bg.png');"> -->
						<table width="785" height="250px;" border="0" cellspacing="0" cellpadding="0" style="background-image:url('http://letsgonuts2018.com/static/images/mail/lets_go_bg.png');">
							<tr>
								<td valign="top" width="250" align="left">
									<table border="0" cellspacing="0" cellpadding="1">
										<tr>
											<td class="img" style="font-size:0pt; line-height:0pt; text-align:left"><img src="http://letsgonuts2018.com/static/images/mail/featured_img.png" alt="" title="image" border="0" width="300" height="250" /></td>
										</tr>
									</table>
								</td>
								<td valign="top"  class="featured" style="color:#7e8c95; font-family:Tahoma; font-size:12px; line-height:17px; text-align:left">
									<table id="bodyTable" style="width: 87%;margin-top: 18px;padding-left: -23px;font-size: 14px;line-height: auto;    margin-left: 43px;" align="center"   border="0" cellpadding="0" cellspacing="0"  height="100%">
									    <tbody>
									        <tr>
									            <td valign="top" class="columnContainer">
									                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#fff">
									                  <tbody class="table_main_tbody">
														<tr>
									                      <td class="table_main_tbody_td"></td>
									                      <td >&nbsp;</td>
																				<td >&nbsp;</td>
									                      <td class="td_right"></td>
									                    </tr>
									                    
									                    <tr>
									                      <td class="table_main_tbody_td">Name</td>
									                      <td></td>
									                      <td class="td_right">{{event_register.event_user.first_name }} {{event_register.event_user.last_name }}</td>
									                    </tr>

														<tr>
									                      <td class="table_main_tbody_td">Phone</td>
									                      <td> </td>
									                      <td class="td_right">{{event_register.event_user.mobile}}</td>
									                    </tr>

														<tr>
															<td class="table_main_tbody_td">Type</td>
															<td> </td>
															<td class="td_right">{{event_register.event_status}}</td>
														</tr>

														<tr>
									                      <td class="table_main_tbody_td">Table</td>
									                      <td> </td>
									                      <td class="td_right">{{event_register.table.table_name}}</td>
									                    </tr>
														
														<tr>
															<td class="table_main_tbody_td">Paid</td>
															<td> </td>
															<td class="td_right">
																{{event_register.amount_paid}}/-&nbsp;&nbsp;&nbsp;{{event_register.created_date|date:"D d M Y"}}
																{% if partial %}
							                                   	<br><span style="color:#928f8b;margin-left:20px;">
																	&nbsp;&nbsp;&nbsp;{{ partial }}
																</span>
							                                    {% endif %}
															</td>
														</tr>
									                    
									                    <tr>
									                      <td class="table_main_tbody_td">Hotel-Info</td>
									                      <td> </td>
									                      <td class="td_right">
									                      	{{ hotel }}
									                      </td>
									                    </tr>
									                    
									                    
									                    
									                  </tbody>
									                    <!-- <hr class="dotted_line"> -->
									                  </table>
                                                      <table>
									                    <tr style=" height: 70px;">
									                        <td align="left" class="sorting_element reg_dttails_td1"style="color: #fff;font-size:13px;" >
									                           <b> Registration Number : </b>
									                            <span class="reg_code_number" style="letter-spacing:1px;">&nbsp;&nbsp;<b>{{event_register.qrcode}}</b></span>
									                        </td>
									                    </tr>
									                   
                                                    </table>
									            </td>
									        </tr>
									    </tbody>
									</table>
									</table>

								</td>

							</tr>
			</table>
			<!-- END Content -->
        <table>
            <tr align="left" style="text-align: center">
                <td align="left">Thanks,</td>
            </tr>
                <tr align="left" style="text-align: center">
                <td align="left"><b>QRT 85 Registration Team</b></td>
            </tr>
        </table>


</body>
</html>
