<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lets Go Nuts - QRT 85</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    

</head>

<body id="page-top">
    
    <div class="container-fluid wrap-nuts">
        
        <div class="container-fluid">
            <div class="row text-center">
                
                <!-- <div class="row wrap-head" >
                    <h3>Area 1 Agm of Round Table India for the year 2018</h3>
                    <h2><span class="heading">Let’s Go Nuts </span>
                    <span class="venue">at Kollam, Aug 2018</span></h2>
                </div> -->
                <!-- <div class="logo-wrap">
                    <a href="/"><img src="{% static 'images/logo.png' %}" class="img-responsive" alt=""></a>
                </div> -->

                <img src="{% static 'images/area-head.png' %}" class="img-responsive img-inline" alt="">
            </div>

        </div>

        <div class="container-fluid">
            <div class="row">
                <h3 class="text-center text-white-col">Count Down Starts Here</h3>
                
                <div class="col-sm-12">
                    <div class="main-example">
                      <div class="countdown-container text-center" id="main-example"></div>
                    </div>
                    <!-- <div id="countdown-timer">         
                    </div> -->
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="/register/"> <button class="btn btn-primary btn-reg stnd-box-shadow">REGISTER</button> </a>
                </div>
            </div>
        </div>
        <div class="club-image">
            <img src="{% static 'images/club-img.png' %}" class="img-responsive"> 
        </div>
    </div>  

    <script type="text/template" id="main-example-template">
        <div class="time <%= label %>">
          <span class="count curr top"><%= curr %></span>
          <span class="count next top"><%= next %></span>
          <span class="count next bottom"><%= next %></span>
          <span class="count curr bottom"><%= curr %></span>
          <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
        </div>
    </script>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Theme Custom Countdown JS --> <!-- START  -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>

</html>
