<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    

</head>

<body id="page-top">
    
    <div class="container-fluid wrap-nuts">
        
        <div class="container">
            <div class="row text-center">
                
                <!-- <div class="row wrap-head" >
                    <h3>Area 1 Agm of Round Table India for the year 2018</h3>
                    <h2><span class="heading">Let’s Go Nuts </span>
                    <span class="venue">at Kollam, Aug 2018</span></h2>
                </div> -->
                <div class="logo-wrap">
                    <img src="{% static 'images/logo.png' %}" class="img-responsive" alt="">
                </div>

            </div>
        </div>

        <div class="container" style="margin-top:30%; margin-left: 20%; color:black;">
          <table>

          <tr>
            <td> Event : </td> <td>{{ event_register.event }}</td>
          </tr>

          <tr>
            <td> Table : </td> <td>{{ event_register.table }} </td>
          </tr>

          <tr>
            <td>Event User : </td>{{ event_register.event_user }} <td></td>
          </tr>

          <tr>
            <td>Amount Paid : </td>{{ event_register.amount_paid }} <td></td>
          </tr>

          </table>

          <p>Registered Successfully</p>
        </div>

    </div>  

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>


</body>

</html>
