<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lets Go Nuts - QRT 85</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    

</head>

<body id="page-top">
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/users/">Registered Users</a>
      <a href="/logout/">Logout</a>
    </div>
  </div>
    <div class="container-fluid wrap-nuts register">

        {% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} message"{% endif %}  style='margin-top: 50px;'>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% else %}
          <div class="message alert alert-success message"  style="display: none;">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
            
          </div>
        {% endif %}
        
        <div class="container-fluid">
            <div class="row">
                <div class="logo-wrap">
                    <img src="{% static '/images/logo.png' %}" class="img-responsive" alt="" onclick="openNav()">
                </div>
                
                <div class="col-sm-12 wrap-form-submit" >
                      <form class="form-horizontal form-nuts">
                      <h3>Enter Details</h3>
                      <div class="form-group">
                        <label class="control-label col-sm-4" for="email">Select Table :</label>
                        <div class="col-sm-8">                  
                            <select name=""  class="form-control" id="selectId">
                                <option value=" ">Select Table</option>
                                {% for val in tables %}
                                <option value="{{ val.table_name }}">{{ val.table_name }}</option>
                                {% endfor %}
                                <option value="Other">Other</option>
                            </select>

                        </div>
                      </div>
                      </form>

                      <div  id="detailForm" style="display: none;">                        
                        <form method= "POST" class="form-horizontal form-nuts" id="DetailForm">
                         {% csrf_token %}
                        <input type="hidden" id="id_table" name="table_val">

                        <div class="form-group" id="other_table_div" style="color: #fff; display: none">
                          <label class="control-label col-sm-4" for="id_other_table">New Table :</label>
                          <div class="col-sm-8"> 
                          <input type="text" class="form-control" id="id_other_table" placeholder="For New Table Only" name='other_table'>
                          </div>
                        </div>

                        <div class="form-group" style="color: #fff">
                          <label class="control-label col-sm-4" for="id_first_name">First Name :</label>
                          <div class="col-sm-8"> 
                            <input type="text" class="form-control" id="id_first_name" placeholder="Enter your First Name" name='first_name' required="">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_last_name">Last Name :</label>
                          <div class="col-sm-8"> 
                            <input type="text" name="last_name" class="form-control" id="id_last_name" placeholder="Enter your Last Name" >
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_phone">Phone Number :</label>
                          <div class="col-sm-8"> 
                            <input type="text" class="form-control" id="id_phone" placeholder="Enter your Phone Number" name="phone"  required="" pattern='^\+?\d{0,13}'>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_email">Email:</label>
                          <div class="col-sm-8"> 
                            <input type="email" class="form-control" id="id_email" placeholder="Enter your Email" name="email"  required="">
                          </div>
                        </div>

                        {% if event_registered_user %}
                        <div class="form-group" style="display:none;">
                          <label class="control-label col-sm-4" for=""></label>
                          <div class="col-sm-8">
                            <input type="hidden" class="form-control" id="update_id"  name="update_id" value="{{event_registered_user.id}}">
                          </div>
                        </div>
                        {% endif %}

                        <div class="form-group" id="balance_div" style="display: none;">
                          <label class="control-label col-sm-4" for="id_balance">Paid Amount : </label>
                          <div class="col-sm-8"> 
                            <input class="form-control" id="paid_ampount_id"  name="paid_amount" readonly>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_amount_paid">Amount to be added : </label>
                          <div class="col-sm-8"> 
                            <input type="number" class="form-control" id="amount_added_id" placeholder="Enter Amount" name="amount_paid">
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="pwd">Mode Of Payment :</label>
                          <div class="col-sm-2"> 
                              <label>
                                  <input id="radioId_1" type="radio" class="payment-mode" name="payment" value="cash" > <span class="radio-change"></span> Cash
                              </label>
                          </div>
                          <div class="col-sm-2">
                              <label>
                                  <input id="radioId_2" type="radio" class="payment-mode" name="payment" value="paytm"> <span class="radio-change"></span> Paytm
                              </label>
                          </div>
                          <div class="col-sm-2">
                              <label>
                                  <input id="radioId_3" type="radio" class="payment-mode" name="payment" > <span class="radio-change" value="card"></span> Card
                              </label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="">Registration Type : </label>
                          <div class="col-sm-2"> 
                            <label>
                                <input id="radio_status_1" type="radio" class="payment-mode" name="status" required=""> <span class="radio-change"></span> Couples
                            </label>
                          </div>                          
                          <div class="col-sm-2">
                            <label>
                              <input id="radio_status_2" type="radio" class="payment-mode" name="status" required=""> <span class="radio-change"></span> Stag
                            </label>
                          </div>                          
                          <div class="col-sm-2">
                            <label>
                              <input id="radio_status_3" type="radio" class="payment-mode" name="status" required=""> <span class="radio-change"></span> Not Mentioned
                            </label>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="room_type">Room Type :</label>
                          <div class="col-sm-8">
                            <select name="room_type"  class="form-control" id="room_type" onchange="selectRoomType()" >
                              <option value="0">--- select type ---</option>
                              {% for room in room_types %}
                                <option value="{{room.id}}">{{room.room_type}} ({{room.rooms_available}})</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>                        

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_hotel_name">Hotel Name :</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="id_hotel_name" placeholder="Enter Hotel Name" name="hotel_name" >
                          </div>
                        </div>
                        
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_room_rent"> Hotel Rent In Rupees :</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="id_room_rent" placeholder="" name="room_rent"  readonly>
                          </div>
                        </div>

                        <div class="form-group" style="display: none;">
                          <label class="control-label col-sm-4" for=""> Do You want to book for friday as well : </label>
                          <div class="col-sm-2"> 
                            <input type="checkbox" name="book_friday" id="bookFriday" value="True"> Tick to book for friday
                          </div>
                        </div>                        

                        <p id="notifications" style="color: red"></p>
                        <hr>
                        <div class="form-group"> 
                          <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-default nuts-sub"> Confirm Register </button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>

            </div>
        </div>
    </div>  


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery-ui.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>

    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript">
      {% if event_registered_user %}
            $("#detailForm").show();
            $('#balance_div').show();
            $('#id_first_name').val('{{event_registered_user.event_user.first_name}}')
            $('#id_last_name').val('{{event_registered_user.event_user.last_name}}')
            $('#id_phone').val('{{event_registered_user.event_user.mobile}}')
            $('#id_email').val('{{event_registered_user.event_user.email}}')
            $('#paid_ampount_id').val('{{event_registered_user.amount_paid}}')

            {% if hotel_obj %}
              $("#id_hotel_name").val('{{hotel_obj.hotel_name}}');
              $("#id_room_rent").val('{{hotel_obj.tottal_rent}}');
              $('#room_type option[value="{{hotel_obj.room_type.id}}"]').attr('selected','selected');
              {% if hotel_obj.book_friday %}
                $('#bookFriday').prop('checked',true)
              {% endif %}
            {% endif %}

            $('#selectId').append('<option value="{{event_registered_user.table.table_name}}" selected="selected">{{event_registered_user.table.table_name}}</option>')
            {% ifequal event_registered_user.event_status "Couple" %}
                $('#radio_status_1').prop('checked',true)
            {% endifequal %}
            {% ifequal event_registered_user.event_status "Stag" %}
                $('#radio_status_2').prop('checked',true)
            {% endifequal %}
            {% ifequal event_registered_user.event_status "Not Mentioned" %}
                $('#radio_status_3').prop('checked',true)
            {% endifequal %}

            {% ifequal event_registered_user.payment 'cash' %}
              $("#radioId_1").prop("checked", true);
            {% endifequal %}

           {% ifequal event_registered_user.payment 'paytm' %}
              $("#radioId_2").prop("checked", true);
            {% endifequal %}

            {% ifequal event_registered_user.payment 'card' %}
              $("#radioId_3").prop("checked", true);
            {% endifequal %}

      {%endif%}
      
      $('#selectId').on('change', function(){
      selected_id = $("#selectId option:selected").val();
      $("#id_hotel_name").val('');
      $("#id_room_rent").val('');
      $('#bookFriday').prop('checked',false);
      $('#room_type option[value="0"]').attr('selected','selected');
      $("#id_email").val('');
      $("#id_phone").val('');
      $("#id_first_name").val('');
      $("#id_last_name").val('');
      $("#detailForm").show();

      if( selected_id == 'Other'){
        $("#other_table_div").show();
      }
      else{
        $("#other_table_div").hide();
      }

      $("#id_table").val(selected_id);

      $("#id_first_name").autocomplete({
        source: "/auto_name/?table="+selected_id,
        minLength: 1,
        select: function (event, ui) {
          // var input = $('#id_first_name').val();
          var input = ui.item.value;
          var selected_table = $("#selectId option:selected").val(); 
          var new_table = $("#id_other_table").val();
          $.ajax({
            url: '/get_user_data/',
            type:'GET',
            data:{
              'username': input,
              'selected_table': selected_table,
              'new_table': new_table,
            },
            success: function (data){
              if (data.success == 'True'){
                $("#id_email").val(data.email);
                $("#id_phone").val(data.mobile);
                $("#id_first_name").val(data.first_name);
                $("#id_last_name").val(data.last_name);

                if (data.user_exist == 'true'){
                  // $("#paid_ampount_id").val(data.balance);
                  $("#balance_div").show();
                  $("#paid_ampount_id").val(data.paid_amount);
                  $("#id_hotel_name").val(data.hotel_name);
                  $("#id_room_rent").val(data.tottal_rent);
                  $("#room_type").val(data.hotel_type);

                  $('#room_type option[value="'+data.room_type_id+'"]').attr('selected','selected');
                  if ( data.book_friday == true ){
                    $('#bookFriday').prop('checked',true)
                  }

                  if ( data.payment_type == 'cash'){
                    $("#radioId_1").prop("checked", true);
                  }
                  else if (data.payment_type == 'paytm'){
                    $("#radioId_2").prop("checked", true);
                  }
                  else{
                    $("#radioId_3").prop("checked", true);
                  }

                  if ( data.paid_amount >= 6000){
                    $("#radio_status_1").prop("checked", true);
                  }
                  else if (data.paid_amount >= 5000){
                    $("#radio_status_2").prop("checked", true);
                  }
                  else{
                    $("#radio_status_3").prop("checked", true);
                  }
                }
                else{
                  $("#balance_div").hide();
                }           
              }
              else{
                // $("#id_balance").val(-1);
                console.log("No Data")
              }
            }
          });
        },
      });
    });


    $('#amount_added_id').on('change', function(){
      var amount_added = $('#amount_added_id').val()
      var amount_paid = $('#paid_ampount_id').val()
      var total_amount = +amount_added +  +amount_paid;

      if ( total_amount >= 6000){
        $("#radio_status_1").prop("checked", true);
      }
      else if (total_amount >= 5000){
        $("#radio_status_2").prop("checked", true);
      }
      else{
        $("#radio_status_3").prop("checked", true);
      }
    });

    $("#DetailForm").submit(function(){
      if($('input[name=payment]:checked').length<=0)
      {
        $("#notifications").text('Please Select a payment mode !');
        return false;
      }else{        
        return true;
      }    
    });

    function update_messages(messages){
      console.log("update message");
      $(".message").html("");
      $.each(messages, function (i, m) {
          $(".message").append(m.message);
      });  
      $('.message').show();
      setTimeout(function() {
          $('.message').fadeOut('slow');
          location.reload();
      }, 3000);
    }

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }

    function selectRoomType(){
      var room_rates = [5500, 6000, 6000, 6500, 10000, 13500, 15500]
      var value = $('#room_type').val();
      $('#id_room_rent').val(room_rates[+value-1]);
      $('#id_hotel_name').val('Raviz Restaurant Kollam');
      $('#bookFriday').attr('checked', false);    
    }

    $("#bookFriday").change(function() {
        var ischecked= $(this).is(':checked');
        if(ischecked){
          var rent = $('#id_room_rent').val();
          var tottal = 2*rent
          $('#id_room_rent').val(tottal);
        }
        else{
          var rent = $('#id_room_rent').val();
          var tottal = rent/2
          $('#id_room_rent').val(tottal);
        }
    });

  </script>
</body>

</html>
