<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lets Go Nuts - QRT 85</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">


<style>
    .datepicker{
        color:#555;
    }
    .close_btn{
      float:right;
    }
</style>
</head>

<body id="page-top">
    <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/register/">Register Event</a>
      <a href="/users/">Registered Users</a>
      <a href="/logout/">Logout</a>
    </div>
  </div>
    <div class="container-fluid wrap-nuts register">

        {% if messages %}
          {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} message"{% endif %}  style='margin-top: 50px;'>
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% else %}
          <div class="message alert alert-success message"  style="display: none;">
          <a class="close" data-dismiss="alert" href="#">&times;</a>

          </div>
        {% endif %}

        <div class="container-fluid">
            <div class="row">
                <div class="logo-wrap">
                    <img src="{% static '/images/logo.png' %}" class="img-responsive" alt="" onclick="openNav()">
                </div>
                <div class="col-sm-12 wrap-form-submit">                    
                      <div  id="hotelForm">
                      <form method= "POST" class="form-horizontal form-nuts" id="DetailForm">
                        {% csrf_token %}
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="room_type">Room Type :</label>
                          <div class="col-sm-8" style="color: black">
                            <select name="room_type"  class="form-control" id="id_room_type" onchange="selectRoomType()"  required="">
                              <option value="">--- select type ---</option>
                              {% for room in room_types %}
                                <option value="{{room.id}}">{{room.room_type}} ({{room.rooms_available}})</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_hotel_name">Hotel Name :</label>
                          <div class="col-sm-8">
                            {{ form.hotel_name }}
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for="id_room_rent"> Hotel Rent In Rupees :</label>
                          <div class="col-sm-8">
                            {{ form.tottal_rent }}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-4" for=""> Date : </label>
                          <div class="col-sm-4">
                          Check IN:
                          {{ form.checkin_date }}
                          </div>
                        <div class="col-sm-4">
                          Check Out:
                          {{ form.checkout_date }}
                          </div>
                        </div>
                        <div class="col-sm-4">
                          {{ form.errors }}
                          </div>
                        <p id="notifications" style="color: red"></p>
                        <hr>
                          <div class="form-group">
                          <label class="control-label col-sm-4" > Total Amount :</label>
                          <div class="col-sm-8">
                            <h4>
                               Total  Hotel Booking Amount: Rs <span id="hotel_amount_final"></span> /-<br>
                            </h4>
                          </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-sm-4" for=""></label>
                          <div class="col-sm-4">
                            <button type="submit" class="btn btn-default nuts-sub-hotel-confirm"> Confirm Booking</button>
                          </div>
                          <div class="col-sm-4">
                            <a href="/users/">
                              <button class="btn btn-danger nuts-sub-hotel-cancel">Cancel</button>
                            </a>
                          </div>                         
                        </div>
                      </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery-ui.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>

    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
     
    $( document ).ready(function() {
            $('#hotel_amount_final').text($('#id_tottal_rent').val());


});


    // function update_messages(messages){
    //   console.log("update message");
    //   $(".message").html("");
    //   $.each(messages, function (i, m) {
    //       $(".message").append(m.message);
    //   });
    //   $('.message').show();
    //   setTimeout(function() {
    //       $('.message').fadeOut('slow');
    //       location.reload();
    //   }, 3000);
    // }

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }
    var selected_rent;
    function selectRoomType(){
      var room_rates = [5500, 6000, 6000, 6500, 10000, 13500, 15500]
      var value = $('#id_room_type').val();
      $('#id_tottal_rent').val('');
      $('#id_tottal_rent').val(room_rates[+value-1]);
      selected_rent = room_rates[+value-1];

      $('#id_hotel_name').val('Hotel Raviz Kollam');

      var rent = $('#id_room_rent').val(selected_rent);
      var checkin = $('#id_checkin_date').val();
        var checkout = $('#id_checkout_date').val();
        if (checkin != '' && checkout != ''){
            calculate_rent(selected_rent);
             $('#hotel_amount_final').text($('#id_tottal_rent').val());
        }
    }
    $("#id_checkout_date").change(function(){
        console.log("OnChange checkOut");
        var room_rates = [5500, 6000, 6000, 6500, 10000, 13500, 15500]
        var value = $('#id_room_type').val();
        var selected_rent = room_rates[+value-1]
        var checkin = $('#id_checkin_date').val();
        var checkout = $('#id_checkout_date').val();
        if (checkin != '' && checkout != ''){
            calculate_rent(selected_rent);
            $('#hotel_amount_final').text($('#id_tottal_rent').val());
        }
    });

    function changeCheckinDate(){
        console.log("OnChange checkIn");
        var room_rates = [5500, 6000, 6000, 6500, 10000, 13500, 15500]
        var value = $('#id_room_type').val();
        var selected_rent = room_rates[+value-1]
        var checkin = $('#id_checkin_date').val();
        var checkout = $('#id_checkout_date').val();
        if (checkin != '' && checkout != ''){
            calculate_rent(selected_rent);
            $('#hotel_amount_final').text($('#id_tottal_rent').val());
        }
    };

    function calculate_rent(one_day_rent){
        console.log('one_day_rent', one_day_rent)
         checkInDate=$('#id_checkin_date').val().split('/')[0]
         checkOutDate=$('#id_checkout_date').val().split('/')[0]
         console.log('outdate',checkInDate)
         diffDays = checkOutDate-checkInDate;
         console.log('indate',$('#id_checkin_date').val())
         console.log('outdate',checkOutDate)
         console.log('dayss',diffDays);
         if(diffDays == 0 || diffDays == 1){
                var one_day_rent = one_day_rent;
                $('#id_tottal_rent').val(one_day_rent);


            }
         else{
            var rent = $('#id_tottal_rent').val();
            if(one_day_rent)
                var tottal = diffDays * one_day_rent;



            else
                var tottal = rent;
            $('#id_tottal_rent').val(tottal);
           $('#hotel_amount_final').text(rent);
         }
         // alert(tottal)
    }

    // $("#id_checkin_date").datepicker({
    //     dateFormat: 'dd/mm/yy',
    //     numberOfMonths: 1,
    //     minDate: new Date(Date.parse("2018-08-03")),
    //     maxDate: new Date(Date.parse("2018-08-05")),
    //     defaultDate: new Date(Date.parse("2018-08-01")),
    //     onSelect: function(selected) {
    //       $("#id_checkout_date").datepicker("option","minDate", selected)
    //       changeCheckinDate();
    //     }
    // });
    
    // $("#id_checkout_date").datepicker({
    //     dateFormat: 'dd/mm/yy',
    //     numberOfMonths: 1,
    //     minDate: new Date(Date.parse("2018-08-03")),
    //     maxDate: new Date(Date.parse("2018-08-05")),
    //     defaultDate: new Date(Date.parse("2018-08-01")),
    // });



    $("#id_checkin_date").datepicker({
      dateFormat: 'dd/mm/yy',
      numberOfMonths: 1,
      defaultDate: new Date(Date.parse("2018-08-01")),
      minDate: new Date(Date.parse("2018-08-03")),
      maxDate: new Date(Date.parse("2018-08-05")),
      onSelect: function(selected) {
        $("#id_checkout_date").datepicker("option","minDate", selected)
        changeCheckinDate();
      },
      beforeShow: function( input ) {
        setTimeout(function() {
            var headerPane = $( input )
            .datepicker( "widget" )
            .find( ".ui-datepicker-header" );

            $( "<button>", {
                text: "X",
                class : 'close_btn',
                click: function() {
                  $("#id_checkin_date").val('');
                  $("#id_checkin_date").datepicker( "hide");
                }
            }).appendTo( headerPane );
        }, 1 );
      }
    });


    $( "#id_checkout_date" ).datepicker({
      dateFormat: 'dd/mm/yy',
      numberOfMonths: 1,
      defaultDate: new Date(Date.parse("2018-08-04")),
      minDate: new Date(Date.parse("2018-08-03")),
      maxDate: new Date(Date.parse("2018-08-05")),
      beforeShow: function( input ) {
          setTimeout(function() {
              var headerPane = $( input )
              .datepicker( "widget" )
              .find( ".ui-datepicker-header" );
              $( "<button>", {
                  text: "X",
                  class : 'close_btn',
                  click: function() {
                    $("#id_checkout_date").val('');
                    $("#id_checkout_date").datepicker( "hide");
                  }
              }).appendTo( headerPane );
          }, 1 );
      }
    });








    {% if hotel_obj %}
      $("#id_hotel_name").val('{{hotel_obj.hotel_name}}');
      $("#id_tottal_rent").val('{{hotel_obj.tottal_rent}}');
      $('#id_room_type option[value="{{hotel_obj.room_type.id}}"]').attr('selected','selected');
      $("#id_checkin_date").val('{{hotel_obj.checkin_date|date:"d/m/Y" }}');
      $("#id_checkout_date").val('{{hotel_obj.checkout_date|date:"d/m/Y" }}');
    {% endif %}

  </script>
</body>

</html>
