<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lets Go Nuts - QRT 85</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

    <style>

        .datepicker {
            color: red;
        }

        #amount_error_div {

            color: red;
        }

    </style>
</head>

<body id="page-top">
<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="/">Home</a>
        <a href="/users/">Registered Users</a>
        <a href="/logout/">Logout</a>
    </div>
</div>
<div class="container-fluid wrap-nuts register">

    {% if messages %}
    {% for message in messages %}
    <div
    {% if message.tags %} class="alert alert-{{ message.tags }} message"{% endif %} style='margin-top: 50px;'>
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    {{ message }}
</div>
{% endfor %}
{% else %}
<div class="message alert alert-success message" style="display: none;">
    <a class="close" data-dismiss="alert" href="#">&times;</a>

</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="logo-wrap">
            <img src="{% static '/images/logo.png' %}" class="img-responsive" alt="" onclick="openNav()">
        </div>
        <div class="col-sm-12 wrap-form-submit">
            <div id="hotelForm">
                <form method="POST" class="form-horizontal form-nuts" id="DetailForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="amount_paid">Enter Amount :</label>
                        <div class="col-sm-8" style="color: black">
                            {{form.contributed_amount}}
                            <div id="amount_error_div" style="display: none;">Negative Amount Not Accepted</div>
                        </div>

                    </div>


                    <p id="notifications" style="color: red"></p>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-4">
                            <button type="submit" id='id_pay_now' class="btn btn-default nuts-sub"> Pay Now</button>
                        </div>
                        <div class="col-sm-4">
                            <a href="/users/">
                                <button typ="button" class="btn btn-danger nuts-sub-hotel-cancel">Cancel</button>
                            </a>
                        </div>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>
</div>


<!-- jQuery -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery/jquery-ui.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>

<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">


    // function update_messages(messages){
    //   console.log("update message");
    //   $(".message").html("");
    //   $.each(messages, function (i, m) {
    //       $(".message").append(m.message);
    //   });
    //   $('.message').show();
    //   setTimeout(function() {
    //       $('.message').fadeOut('slow');
    //       location.reload();
    //   }, 3000);
    // }

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }

    var selected_rent;

    function selectRoomType() {

        $('#id_hotel_name').val('Hotel Raviz Kollam');

        calculate_rent();

    }

    $("#id_checkout_date").change(function () {
        calculate_rent();
    });

    function changeCheckinDate() {
        calculate_rent();
    };

    function calculate_rent() {

        var one_day_rent = $('#id_room_rent').val();
        var checkin = $('#id_checkin_date').val();
        var checkout = $('#id_checkout_date').val();
        if (checkin != '' && checkout != '') {
            checkInDate = checkin.split('/')[0];
            checkOutDate = checkout.split('/')[0];
            diffDays = checkOutDate - checkInDate;

            if (diffDays == 0 || diffDays == 1) {
                var one_day_rent = one_day_rent;
                $('#id_tottal_rent').val(one_day_rent);
            }
            else {
                var rent = $('#id_tottal_rent').val();
                if (one_day_rent)
                    var tottal = diffDays * one_day_rent;
                else
                    var tottal = rent;
                $('#id_tottal_rent').val(tottal);
            }
        }
    }

    $("#id_checkin_date").datepicker({
        dateFormat: 'dd/mm/yy',
        numberOfMonths: 1,
        minDate: new Date(Date.parse("2018-08-03")),
        maxDate: new Date(Date.parse("2018-08-05")),
        defaultDate: new Date(Date.parse("2018-08-01")),
        onSelect: function (selected) {
            $("#id_checkout_date").datepicker("option", "minDate", selected)
            changeCheckinDate();
        }
    });

    $("#id_checkout_date").datepicker({
        dateFormat: 'dd/mm/yy',
        numberOfMonths: 1,
        minDate: new Date(Date.parse("2018-08-03")),
        maxDate: new Date(Date.parse("2018-08-05")),
        defaultDate: new Date(Date.parse("2018-08-01")),
    });


    {%
        if hotel_obj %}
    $("#id_hotel_name").val('{{hotel_obj.hotel_name}}');
    $("#id_tottal_rent").val('{{hotel_obj.tottal_rent}}');
    $('#id_room_type option[value="{{hotel_obj.room_type.id}}"]').attr('selected', 'selected');
    $("#id_checkin_date").val('{{hotel_obj.checkin_date|date:"d/m/Y" }}');
    $("#id_checkout_date").val('{{hotel_obj.checkout_date|date:"d/m/Y" }}');
    {%
        endif %
    }

    $('#id_amount_paid').on('keyup change', function () {
        var entered_values = $(this).val();
        if (entered_values < 0) {
            $('#id_pay_now').attr('disabled', true);
            $('#amount_error_div').show();
        } else {
            $('#id_pay_now').attr('disabled', false);
            $('#amount_error_div').hide();
        }
    });
</script>
</body>

</html>
