<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lets Go Nuts - QRT 85</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom css style -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="{% static 'css/media_queries.css' %}" rel="stylesheet" type="text/css"> -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'js/custom.js' %}"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

<style>
  body {
      background: url('/static/images/bg-pink-dark.jpg') repeat-y;
      /*min-height: 100%;*/
      padding: 1%
    }
  .user_list_inputs{
    margin-top: 10px;
  }
</style>

</head>

<body id="page-top">

  <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <a href="/">Home</a>
      <a href="/users/">Registered Users</a>
      <a href="/register/">Register Event </a>
      <a href="/logout/">Logout</a>
    </div>
  </div>

  <div class="wraper-user_list">

    <div class="container-fluid bg-3 text-center">
      <div class="row">

        <div class="col-sm-2">
            <img src="{% static 'images/logo.png' %}" class="img-responsive" alt="" onclick="openNav()" style="width: 110px;">
        </div>        
        <div class="col-sm-2" >
          <div class="container text-center">
            <h2 style="color: #fff;">Registered Users</h2>
          </div>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div><br> 


    <div class="container-fluid">
      <div class="row content">

        <div class="col-md-2 user_list_inputs">           
          <button class='btn btn-primary' onclick="window.print();">Print</button>
        </div>

        <div class="col-md-6 user_list_inputs">
                  
        </div>

        <div class="col-md-2 user_list_inputs">
          <select id="sortOption" class="btn btn-primary btn_sort">
           <option>Select one</option>
           <option value=1>Name</option>
           <option value=3>Table</option>
           <option value=4>Table Order</option>
           <option value=8>Date</option>
         </select>
        </div>

        <div class="col-md-2 user_list_inputs">
          <div class="input-group" >
            <input id="seachDataTable" type="text" class="form-control form_serch" placeholder="Search for...">
          </div>  
        </div>

        

      </div>
    </div><br>
    
      <div class="container-fluid col-md-12 table_div_main">
        
        <table class="table_list_main" id="user_lists">
          <thead>
          <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Registration code</th>
          <th>Table</th>
          <th>T - Order</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Paid Amount </th>
          <th>Status </th>
          <th>Created Date </th>
          <th>Coupon</th>
          </tr>
          </thead>
          <tbody style="font-size: 12px;">

          {% for user in users  %}
          <tr class="table_diivider_mobile">
            <td>{{ forloop.counter }}</td>  
            <td> {{ user.event_user.first_name }} {{ user.event_user.last_name}} </td>
            <td> {{ user.qrcode }} </td>
            <td> {{ user.table.table_name }}</td>
            <td> {{ user.table.table_order }}</td>
            <td> {{ user.event_user.email }}</td>
            <td> {{ user.event_user.mobile }} </td>
            <td> {{ user.amount_paid }}</td>
            <td> {{ user.event_status }} </td>
            <td> {{ user.created_date|date:"D d M Y" }} </td>
            <td><a style="color: #fff;" href="/invoice/{{ user.id }}"> View </a></td>
          </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>

    </div>
</div>
  <!--table section starts here-->

<!-- table section ends here-->
  <!-- jQuery -->

  <script type="text/javascript">
    function openNav() {
    document.getElementById("myNav").style.height = "100%";
      }

      function closeNav() {
          document.getElementById("myNav").style.height = "0%";
      }

      $(document).ready(function() {
        $('#user_lists').DataTable({
          "paging":   false,
          "info":     false,
        });
        $("#user_lists_filter").hide();
      });

      $('#sortOption').on('change', function(){

        var table = $('#user_lists').DataTable();
        var order = table.order();

        selected_id = $("#sortOption option:selected").val();

        table.order( [ selected_id, 'asc' ] ).draw();
      });

      $('#seachDataTable').keyup(function(){
         var table = $('#user_lists').DataTable();
        table.search($(this).val()).draw();
      })
  </script>
</body>

</html>
