<!DOCTYPE html>
<html>
{% load static %}
{% load template_tags %}
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Lets Go Nuts - QRT 85</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user_list.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/data-table-responsive.css' %}" rel="stylesheet" type="text/css">
    <style type="text/css" class="init">
    </style>


    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-1.12.4.js">
    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/rowreorder/1.2.3/js/dataTables.rowReorder.min.js">
    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js">

    </script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>

    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>


    <style>
        body {
            background: url('/static/images/bg-pink-dark.jpg') repeat-y;
            /*min-height: 100%;*/
            padding: 1%;
            overflow-x: hidden;
        }

        .user_list_inputs {
            margin-top: 10px;
        }

        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc {
            background: none;
        }

        .dataTables_scrollBody {
            position: relative;
            overflow: auto !important;
            width: 100%;
            height: 60vh !important;
        }

        th {
            color: white;
        }

        @media print {
            table {
                page-break-after: auto
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto
            }

            td {
                page-break-inside: avoid;
                page-break-after: auto
            }

            thead {
                display: table-header-group
            }

            tfoot {
                display: table-footer-group
            }
        }

        #loader {
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 20px;
            height: 30px;
            position: absolute;
            left: 50%;
            -webkit-animation: spin 1s linear infinite; /* Safari */
            animation: spin 1s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        .dataTables_processing {
            background: none !important;
        }

        .modal-header {
            color: #fff;
            background-color: #391756;
        }

        .close-button {

            color: #fff;
            background-color: #391756;
        }

        .close-button:hover {
            color: #fff;
            background-color: #391756;
        }

        .close-button:focus {
            color: #fff;
            background-color: #391756;
        }

        .close {
            color: #fff;
            opacity: 1;
        }

        .close:hover {
            color: #fff;
        }

        .operator-style {
            border: #fff;
            background-color: #fff;
            color: #fff;
            height: 19px;
            width: 20px;
            font-size: 13px;
            background-color: #391756;
            border-radius: 50%;
        }

        .number-textbox {
            width: 36px;
            height: 22px;
            border: 1px solid #555;
            border-radius: 5px;
        }

        table.borderless td {
            border: none !important;
        }

        .table {
            margin-bottom: -10px;
            margin-top: -25px;
        }


    </style>

</head>
<body id="page-top">

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="{% url 'register_event' %}">Home</a>
        <a href="/users/">Registered Users</a>
        <a href="/register/">Register Event </a>
        <a href="{% url 'un_registered_users' %}">UnRegistered Users</a>
        <a href="{% url 'proxy-hotel' %}">Proxy Hotel Booking</a>
        <a href="{% url 'proxy-listing' %}">Proxy Hotel Listing</a>
        <a href="{% url 'user_registration_list' %}">User Registration Approval</a>
        <a href="/users/?is_active=False">Deleted Users </a>
        <a href="{% url 'dash_board' %}">DashBoard </a>
        <a href="/logout/">Logout</a>
    </div>
</div>

<div class="wraper-user_list" style="margin-bottom: 1%;">

    <div class="container-fluid bg-3 text-center">
        <div class="row">

            <div class="col-sm-2">
                <img src="{% static 'images/logo.png' %}" class="img-responsive" alt="" onclick="openNav()"
                     style="width: 110px;">
            </div>
            <div class="col-sm-2">
                <div class="container text-center">
                    <h2 style="color: #fff;">Registered Users</h2>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} message"{% endif %}
                                      style='margin-top: 50px;'>
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        <div class="message alert alert-success message" style="display: none;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>

        </div>
    {% endif %}


    <div class="container-fluid">
        <div class="row content">
            <div class="col-md-2 user_list_inputs">
                <button class='btn btn-primary' id='printPage' onclick="window.print();">Print</button>
                <a href="{{ request.get_full_path }}&csv=true">
                    <button class='btn btn-primary'>Download</button>
                </a>
            </div>
            <div class="col-md-6 user_list_inputs">
                <select id="sortTable" class="btn btn-primary btn_sort" place>
                    <option value="" disabled selected>Select Table</option>
                    <option value="all">All</option>
                    {% for table in tables %}
                        <option value="{{ table.table_name }}">
                            {{ table.table_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-2 user_list_inputs">
                <select id="sortOption" class="btn btn-primary btn_sort">
                    <option>Select one</option>
                    <option value=1>Name</option>
                    <option value=3>Table</option>
                    <!-- <option value=9>Date</option> -->
                    <option value=12>Order</option>
                </select>
            </div>

            <div class="col-md-2 user_list_inputs">
                <div class="input-group">
                    <input id="seachDataTable" type="text" class="form-control form_serch" placeholder="Search for...">
                </div>
            </div>


        </div>
    </div>
    <br>

    <div class="fw-container">
        <div class="fw-body">
            <div class="content">
                {% if  request.get_full_path == '/users/' or request.get_full_path == '/users/?attending=True' or request.get_full_path == '/users/?attending=False' %}
                    <ul class="nav nav-pills">
                        <li {% ifequal request.get_full_path '/users/' %}  class="active" {% endifequal %}><a
                                data-toggle="pill"
                                onclick=(window.location="{% url 'list_users' %}")>Registered</a>
                        </li>
                        <li {% ifequal request.get_full_path '/users/?attending=True' %}
                            class="active" {% endifequal %}><a
                                data-toggle="pill" class='list_attendees' data-target="#menu2"
                                onclick=(window.location="{% url 'list_users' %}?attending=True")>Attending </a>
                        </li>
                        <li {% ifequal request.get_full_path '/users/?attending=False' %}
                            class="active" {% endifequal %}>
                            <a data-toggle="pill" data-target="#menu2"
                               onclick=(window.location="{% url 'list_users' %}?attending=False")>Not
                                Attending</a></li>
                    </ul>
                {% endif %}
                <div class="tab-content">
                    <div id="home_user" class="tab-pane fade in active">

                        <table id="user_lists" class="display nowrap main-table" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                {% ifequal request.get_full_path "/users/" %}
                                    <th>Attending Event</th>
                                {% endifequal %}
                                <th>Name</th>
                                <th>Table</th>
                                <th>Registration code</th>
                                <th>Phone</th>
                                <th>Email</th>

                                <th>Reg Type</th> <!-- Status -->
                                <th>Partial/Completely</th><!-- Payment Status -->

                                <th>Registration Amount</th>
                                {#                                <th>T-Shirt Size</th>#}
                                <th>Amount Due</th>
                                <!-- <th>Registration Date </th> -->
                                <!-- <th>Coupon</th> -->
                                <th>Buy Friday Coupon</th>
                                <th>Room</th>

                                <th>Hotel Name</th>
                                <th>Room Type</th>
                                {#                                <th>Checkin Date</th>#}
                                {#                                <th>Checkout Date</th>#}
                                <th>No of Nights</th>
                                <th>Hotel Amount Paid</th>
                                <th>Hotel Dues</th>
                                <th></th>
                                <th> Contribution</th>
                                <th>Total Payment</th>
                                <th>Total Due</th>
                                <th>Print Coupon</th>
                                <th>Edit Registration</th>
                                {% if is_active %}
                                    <th> Add to Registration</th>
                                {% else %}
                                    <th> Delete Registration</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="display: none;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            <td></td>
                                <td>{{ total_paid_registration }}</td>
                                <td></td>
                                <td>{{ total_registration_due }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ total_paid_hotel }}</td>
                                <td>{{ total_hotel_due }}</td>
                                <td></td>
                                <td>{{ total_contributions }}</td>
                                <td>{{ total_amount_paid }}</td>
                                <td>{{ total_due }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Purchase Coupon</h4>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table borderless">
                                            <tbody>
                                            <form method="post" action="{% url 'friday_coupon_booking' %}">
                                                {% csrf_token %}
                                            <tr>
                                                <td colspan="2">
                                                    <h2>Friday Lunch <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </h2>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4>No of users</h4>
                                                </td>
                                                <td>
                                                    <input type="hidden" id="id_user_id_hidden" name="user_id">
                                                    <input type="hidden" id="id_user_type">
                                                    <input type="button" class="operator-style"
                                                           onclick="decrementValue()" value="-"/>
                                                    <input type="text" class="number-textbox" id="number" name='no_of_users_friday' maxlength="3"
                                                           value="0"/>
                                                    <input type="button" class="operator-style"
                                                           onclick="incrementValue()" value="+"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4>kids</h4>
                                                </td>
                                                <td>
                                                    <input type="button" class="operator-style"
                                                           onclick="decrementValue1()" value="-"/>
                                                    <input type="text" class="number-textbox" id="number1" name='no_of_kids_friday' value="0"/>
                                                    <input type="button" class="operator-style"
                                                           onclick="incrementValue1()" value="+"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h2>Kids Coupon <i class="fa fa-child" aria-hidden="true"></i></h2>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4>Kids coupon for event:</h4>
                                                </td>
                                                <td>
                                                    <input type="button" class="operator-style"
                                                           onclick="decrementValue2()" value="-"/>
                                                    <input type="text" class="number-textbox" id="number2" name='no_of_kids_event' value="0"/>
                                                    <input type="button" class="operator-style"
                                                           onclick="incrementValue2()" value="+"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h2>Payment <i class="fa fa-money" aria-hidden="true"></i></h2>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4>Total Amount:</h4>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <input type="text" id='id_total_amount_coupon' name='total_amount_paid_coupon' class="form-control">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h4><b>Payment Mode</b></h4>
                                                </td>
                                                <td>
                                                    <label> <input id="radioId_1" type="radio" class="payment-mode" name="payment"
                                                                   value="POS"> <span class="radio-change"></span> POS</label>
                                                    <label><input id="radioId_2" type="radio" class="payment-mode" name="payment"
                                                                  value="card"> <span class="radio-change"></span> Card</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="submit" class=" btn btn-default close-button"
                                                            style="float:right;width: 77px;">Buy
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                </td>
                                            </tr>
                                            </form>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function incrementValue( ) {
        var usertype = $('#id_user_type').val();
        if(usertype ==='Stag' || usertype==='Stag_Informal'){
            var value = parseInt(document.getElementById('number').value, 1);
        }
        else {
             var value = parseInt(document.getElementById('number').value, 2);
        }
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number').value = value;
    }

    function decrementValue() {
        var value = parseInt(document.getElementById('number').value,0);
        value = isNaN(value) ? 0 : value;
        value--;
        document.getElementById('number').value = value;
    }

    function incrementValue1() {
        var value = parseInt(document.getElementById('number1').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number1').value = value;
    }

    function decrementValue1() {
        var value = parseInt(document.getElementById('number1').value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        document.getElementById('number1').value = value;
    }

    function incrementValue2() {
        var value = parseInt(document.getElementById('number2').value, 10);
        value = isNaN(value) ? 0 : value;
        value++;
        document.getElementById('number2').value = value;
    }

    function decrementValue2() {
        var value = parseInt(document.getElementById('number2').value, 10);
        value = isNaN(value) ? 0 : value;
        value--;
        document.getElementById('number2').value = value;
    }

    jQuery(document).ready(function () {
        jQuery(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');
    });

    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }


    $(document).ready(function () {

        $('body').on('click', '#id_purchase', function () {
            var userid = $(this).data('id');
            var usertype = $(this).data('usertype');
            $('#id_user_id_hidden').val(userid);
            $('#id_user_type').val(usertype);
            $('#myModal').modal('show');
        });

        function printData() {
            var divToPrint = document.getElementById("printTable");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();

        }

        $('#printPage').on('click', function () {
            printData();
        })

        var t = $('#user_lists').DataTable({
            ajax: '/get-user-data-json{{ request.get_full_path }}',
            order: [[1, 'asc']],
            paging: false,
            info: false,
            scrollX: true,
            fixedHeader: true,
            scrollCollapse: true,
            oLanguage: {sProcessing: "<div id='loader'></div>"},
            processing: true,
            serverSide: true,
        });

        $('.dataTables_scrollBody').on('scroll', function () {
            if ($('#user_lists th:nth-child(3)').offset().left < 10) {
                if (!$('#user_lists tr').hasClass('fixed-tr')) {
                    $('#user_lists tr').addClass('fixed-tr')
                    $('#user_lists th:nth-child(3)').addClass('fixed-th')
                    $('#user_lists td:nth-child(3)').addClass('fixed-td')
                }
            }
            else {
                $('#user_lists tr').removeClass('fixed-tr')
                $('#user_lists th:nth-child(3)').removeClass('fixed-th')
                $('#user_lists td:nth-child(3)').removeClass('fixed-td')

            }
        });


        $("#user_lists_filter").hide();

        t.on('order.dt search.dt', function () {
            t.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    });

    $('#sortOption').on('change', function () {

        var table = $('#user_lists').DataTable();
        var order = table.order();

        selected_id = $("#sortOption option:selected").val();

        if (selected_id == '9') {
            table.order([12, 'desc']).draw();
        }
        else {
            table.order([selected_id, 'asc']).draw();
        }

    });

    $('#seachDataTable').keyup(function () {
        var table = $('#user_lists').DataTable()

        table.settings()[0].oFeatures.bServerSide = false;
        table.settings()[0].ajax = false;

        table.search($(this).val()).draw();

        // here activate it again
        table.settings()[0].oFeatures.bServerSide = true;


    })


    $('#sortTable').on('change', function () {
        var table = $('#user_lists').DataTable();
        var selected_table = $("#sortTable option:selected").val();
        if (selected_table == 'all') {
            location.reload();
        }
        else {
            // here temporary disable ajax
            table.settings()[0].oFeatures.bServerSide = false;
            table.settings()[0].ajax = false;

            regExSearch = '"' + selected_table + '"';
            console.log('ff', regExSearch);
            table.column(3).search(regExSearch).draw();

            // here activate it again
            table.settings()[0].oFeatures.bServerSide = true;
        }
    });

    $('body').on('change', '.id_on_off', function () {

        var user_id = $(this).data("id");
        var isChecked = $(this).is(':checked');
        var element = $(this);
        $.ajax({
            type: 'POST',
            url: "{% url 'adding_of_event_attendees' %}",
            data: {'user_id': user_id, 'isChecked': isChecked, csrfmiddlewaretoken: '{{ csrf_token }}'},
            dataType: 'json',
            success: function (data) {
                if (!data.status) {
                    element.parents('td').next().find('.due-error').remove();
                    element.parents('td').next().append('<div class="due-error" style="color:#f00;">' + data.message + '</div>')
                    element.prop('checked', false);

                }
            }
        });
    });
    
    function incrementDecrementAjax() {
        var users_no = $('#number').val();
        var kids_no = $('#number1').val();
        var kids_coupon_no = $('#number2').val();
        var user_type = $('#id_user_type').val()
        $.ajax({
            type: 'GET',
            url: "{% url 'increment_decrement_ajax' %}",
            dataType: 'json',
            data: {'users_no': users_no, 'kids_no': kids_no, 'kids_coupon_no': kids_coupon_no,'user_type':user_type},
            success: function (data) {
                $('#id_total_amount_coupon').val(data.total_amount)

            }
        });
    }
    $('.operator-style').on('click',function () {
        incrementDecrementAjax();


    })

</script>
</body>
</html>
