

/* Checking Responsiveness */ /* END  */

/* Overlay Menu */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(74, 35, 90);
    background-color: rgba(74, 35, 90, 0.97);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:  #d7bde2;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}
.drop_down_main
{
  margin-bottom: 15px;
}
  /*}*/
  .table_div_main
  {
    color: #fff;
    font-size: 14px;
  }
  .table_diivider_mobile
	{
		margin-top: 20px;
	}
  .btn_sort
  {
    background: #2d0834;
    border-color: #fff  ;
  }
  .form_serch
  {
    background: #2d0834;
  }
  .table_list_main
  {
    line-height: 35px;
  }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: none;
}

table.dataTable tbody tr {
    background: none;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background: none;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background: none;
}

#user_lists { color: #fff; }

.room_type_div{
    margin-top: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 145px;
}


/*table custom styling ends here*/
