

/* Checking Responsiveness */ /* END  */

/* Overlay Menu */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(74, 35, 90);
    background-color: rgba(74, 35, 90, 0.97);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color:  #d7bde2;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}
.drop_down_main
{
  margin-bottom: 15px;
}
  /*}*/
  .table_div_main
  {
    color: #fff;
    font-size: 14px;
  }
  .table_diivider_mobile
	{
		margin-top: 20px;
	}
  .btn_sort
  {
    background: #2d0834;
    border-color: #fff  ;
  }

  .table_list_main
  {
    line-height: 35px;
  }

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: none;
}

table.dataTable tbody tr {
    background: none;
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background: none;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background: none;
}

#user_lists, #user_lists_attented { color: #fff; }

.room_type_div{
    margin-top: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 145px;
}


/*table custom styling ends here*/
